<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Главная</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/style.css}">
</head>
<body>
<div>
    <h3 th:text="${#authentication.name}"></h3>
    <div sec:authorize="!isAuthenticated()">
        <h4><a th:href="@{/login}">Войти</a></h4>
        <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
    </div>
    <div sec:authorize="isAuthenticated()">
        <h4><a th:href="@{/logout}">Выйти</a></h4>
    </div>
    <h4><a th:href="@{/user}">Личный кабинет (только для пользователя)</a></h4>
    <h4><a th:href="@{/admin}">Пользователи (только админ)</a></h4>
    <h4><a th:href="@{/dashboard}">Dashboard</a></h4>
</div>
</body>
</html>
